@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

 ul {
  font-size: 65px;
  font-family: 'Creepster', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  
}
a{

text-decoration: none;
}

li {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;

}

.homeImage h1{
  font-family: 'Creepster', cursive;
  font-size: 150px;
  display: flex;
justify-content: center;
align-items: center;
color: yellow;
height:80vh;
transition: transform .2s; 
}

.homeImage h1.hover {
  transform: scale(1.5);
}


.cassieContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: url('/ocean.gif');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  margin: auto;
}

.audio {
  margin: auto;
  text-align: center;
}

.mainTable {
  display: flex;
  justify-content: center;
  
}

.table {
 background-image: url("./ImpKid.jpg");
 background-repeat: no-repeat;
 background-size: cover;
height: 660px;
width: 660px;
display: flex;
flex-wrap: wrap;
box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2), 0 12px 40px 0 rgba(0,0,0,0.19);
}

.camBackground{
  background-color: gray;
  height: 85vh;
}


.button {
  width: 200px;
  height: 50px;
  background-color: #111;
  color: white;
  font-size: 1.1rem;
  border: none;
}
.homeImage{

background-image: url("./Home.jpg");
border: 2px solid black;
padding: 25px;
height:85vh;
background-repeat: no-repeat;
background-size: cover;
}

.Reset {
display: flex;
justify-content: center;

}

.Reset button {
  border-radius: 50%;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #d3ad11; /* Green */
  border: 3px;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



.bean {
  background-image: url("./mr\ bean.gif");
  background-repeat: no-repeat;
  background-size: 660px 660px;  
  justify-content: center;
  height: 665px;
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  /* margin-top: 80px; */

}

.ruBackground {
  background-image: url("./ruback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1100px;
  width: cover;

}

.glow {
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 
                 0 0 50px #d4d412, 0 0 60px #9d8408, 0 0 70px #ba8512;
  }
  to {
    text-shadow: 0 0 20px #eeeeee, 0 0 30px #e8d017, 0 0 40px #c19f0b, 0 0 50px #e0c218, 
                 0 0 60px #cdda15, 0 0 70px #e5ec13, 0 0 80px #dfc710;
  }